{% spaceless %}<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>{% block title %}Silica Gel, Oxygen Absorber, and Desiccant Packets | Silica-Gel.org{% endblock title %}</title>
<link rel="stylesheet" href="/style.css" type="text/css" />
<link rel="SHORTCUT ICON" type="image/vnd.microsoft.icon" href="/favicon.ico" />
<meta name="robots" content="index,follow" />
<meta name="description" content="{% block description %}Gallery and encyclopedia of silica gel packets and oxygen absorbers.{% endblock description %}" />
<meta name="google-site-verification" content="Nd_CLoBPoDsiAS1X1Qq-mYZIOAsTLEKKe3LrUNxv2K0" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="msvalidate.01" content="46D044C2A2181D7D0BFD6FF19630FDEC" />
{% block extrahead %}
{% endblock extrahead %}
{% include 'analytics.inc' %}
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=649581031815449";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="header">
<h1><a href="/"><img src="/images/Logo.png" alt="Silica-Gel.org"></a></h1>
<p class="subhead">A visual guide to silica gel and desiccant packets.</p>
</div>
<div class="content">
{% block content %}
{% endblock content %}
</div>
<div class="footer">
<div class="fb-like" data-href="https://www.facebook.com/pages/Silica-Gel/429277780580823" data-width="120" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
{% include 'copyright.inc' %}
{% block extrafooter %}
{% endblock extrafooter %}
</div>
</body>
</html>{% endspaceless %}
