{% extends "base.htm" %}{% spaceless %}
{% block title %}Silica Gel, Oxygen Absorber, and Desiccant Packets by Color | Silica-Gel.org{% endblock title %}
{% block description %}Visual encyclopedia of silica gel and desiccant packets arranged by color.{% endblock description %}
{% block extrahead %}
<link rel="canonical" href="https://silica-gel.org/colors/" />
{% endblock extrahead %}
{% block content %}
<h2>Print Colors</h2>
{% for tag in tags %}
<p class="centered"><a href="/color/{{ tag.slug }}/">{{ tag.name }}</a></p>
{% endfor %}
<p class="centered"><a href="/">Back to the front page.</a></p>
{% include 'adsense.inc' %}
{% endblock content %}
{% endspaceless %}
