{% extends "base.htm" %}{% spaceless %}
{% block title %}{{ language|capfirst }} Silica Gel, Oxygen Absorber, and Desiccant Packets | Silica-Gel.org{% endblock title %}
{% block description %}Visual encyclopedia of silica gel and desiccant packets printed in {{ language|capfirst }}.{% endblock %}
{% block extrahead %}
<link rel="canonical" href="http://silica-gel.org/language/{{ language.slug }}/" />
{% endblock extrahead %}
{% block content %}
<h2>Packets Labeled in {{ language|capfirst }}</h2>
{% for packet in packets %}
<a href="/packet/{{ packet.id }}/"><img src="/{{ packet.image }}.thumb.jpg" alt="Silica Gel Packet {{ packet.id }}" title="{{ packet.description }}"></a> 
{% endfor %}
<p class="centered"><a href="/languages/">Back to all languages</a></p>
{% include 'adsense.inc' %}
{% endblock content %}{% endspaceless %}
