{% extends "base.htm" %}{% spaceless %}
{% block title %}Silica Gel, Oxygen Absorber, and Desiccant Packets by Print Language | Silica-Gel.org{% endblock title %}
{% block description %}Visual encyclopedia of silica gel and desiccant packets arranged by language.{% endblock description %}
{% block extrahead %}
<link rel="canonical" href="http://silica-gel.org/languages/" />
{% endblock extrahead %}
{% block content %}
<h2>Languages</h2>
{% for tag in tags %}
<p class="centered"><a href="/language/{{ tag.slug }}/">{{ tag.name }}</a></p>
{% endfor %}
<p class="centered"><a href="/">Back to the front page.</a></p>
{% include 'adsense.inc' %}
{% endblock content %}{% endspaceless %}
